/*
	HTML Components
*/

a, a:hover {
	cursor: pointer;
	color: rgb(99,20,1);
}

b {
	color: rgb(99,20,1);
}

body {
	background-color: #666;
	background-image: url('../img/bground.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 18px;
}

h3 {
	color: rgb(99,20,1);
}

i {
	color: rgb(99,20,1);
}

img.active {
	box-shadow: 0px 0 15px rgb(99,20,1);
}

input[type="radio"], input[type="checkbox"].hidden-checkbox {
	visibility: hidden;
}

label img {
	border: 2px solid rgb(99,20,1);
}

li {
	font-size: 16px;
}

nav {
	opacity: 0.6;
}

nav:hover {
	opacity: 1.0;
}

nav .clickable {
	padding: 0px 5px;
	line-height: 52px;
}

nav .clickable:hover {
	background-color: rgb(224,148,143);
}


/*
	Misc. Style
*/

.banner {
	width: 50%;
	margin-left: 25%;
}

.button {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	margin-bottom: 10px;
}

.checkbox.active {
	text-shadow: 1px 1px 1px #aaa;
}

.clickable {
	cursor: pointer;
}

.disabled {
	opacity: 0.5;
}

.get-started-button {
	border: 2px solid rgb(224,148,143) !important;
	padding: 10px;
	height: 60px;
	font-size: 24px;
	line-height: 40px;
	margin-top: 10px;
}

.glyphicon.active {
	text-shadow: 3px 3px 3px rgb(99,20,1);
}

.glyphicon-large {
	font-size: 80px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-140 {
	margin-top: 140px;
}

.middle-button {
	margin: 0px 5px;
}

.no-padding {
	padding: 0px;
}

.option-check {
	position: absolute;
    top: 0px;
    left: 0px;
    font-size: 4em;
    color: green;
    display: none;
}

.option-check.active {
	display: block;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.round-corners {
	border-radius: 10px;
	border: 2px solid black;
}

.row {
	margin: 0px;
}

.shadow-div {
	box-shadow: 0px 0 10px #000000;
	z-index: 1;
	color: white;
}

.social-icon {
	max-height: 80px;
	cursor: pointer;
}

.title-img {
	height: 60px;
}

.width-100-percent {
	width: 100%;
}

/*
	Home Page
*/

.infographic {
	background-image: url('../img/infographic.png');
	background-position: center;
	background-size: cover;
}

/*
	Nav Bar
*/

.logo {
	height: 50px;
}

.navbar {
	margin-bottom: 0;
	border: none;
}

/*
	Recommendations
*/

.other-recommendation {
	border: 1px solid rgb(224,148,143);
	background-color: rgb(99,20,1);
	color: white;
	border-radius: 10px;
	text-align: center;
}

.other-recommendation:hover {
	background-color: rgb(206,122,83);
}

.result {
	font-style: italic;
}

.wine-img {
	width: 20%;
	margin-left: 40%;
}

.wineA {
	width: 70%;
	margin-left: 15%;
	height: 200px;
}

/*
	Quiz
*/

.slider-subtitle {
	font-weight: 900;
	font-size: 12px;
}

.red-wine {
	color: rgb(99,20,1);
}

.white-wine {
	color: #555;
}

/*
	Colors
*/

.black {
	background-color: black;
}

.dark-red {
	background-color: rgb(99,20,1);
}

.light-pink {
	background-color: rgb(255,179,174);
}

.pink {
	background-color: rgb(224,148,143);
}

.red {
	background-color: rgb(122,31,0);
}

.yellow {
	background-color: rgb(206,122,83);
}

.black-text {
	color: black;
}

.brown-text {
	color: brown;
}

.green-text {
	color: green;
}

.pink-text {
	color: rgb(224,148,143);
}

.white-text {
	color: white;
}

.yellow-text {
	color: rgb(206,122,83);
}

.gradient-red {
	background-image: linear-gradient( rgb(99,20,1), rgba(0,0,0,0) );
}

.gradient-yellow {
	background-image: linear-gradient( rgb(206,122,83), rgba(0,0,0,0) );
}

.gradient-yellow-to-white {
	background-image: linear-gradient( rgba(206,122,83,.8), rgba(255,255,255,.8) );
}

.transparent-white {
	background-color: rgba(255,255,255, .8);
}

.gradient-white {
	background-image: linear-gradient( rgb(255,255,255), rgba(0,0,0,0) );
}
