/*
	HTML Components
*/

a, a:hover {
	cursor: pointer;
	color: rgb(99,20,1);
}

h3 {
	color: rgb(99,20,1);
}

img.active {
	box-shadow: 0px 0 15px rgb(99,20,1);
}

input[type="radio"] {
	visibility: hidden;
}

/*
	Misc. Style
*/

.checkbox.active {
	text-shadow: 1px 1px 1px #aaa;
}

.clickable {
	cursor: pointer;
}

.disabled {
	opacity: 0.5;
}

.glyphicon.active {
	text-shadow: 3px 3px 3px rgb(99,20,1);
}

.glyphicon-large {
	font-size: 80px;
}

.option-check {
	position: absolute;
    top: 0px;
    left: 0px;
    font-size: 4em;
    color: green;
    display: none;
}

.option-check.active {
	display: block;
}

.round-corners {
	border-radius: 10px;
}

.row {
	margin: 0px;
}

.shadow-div {
	box-shadow: 0px 0 10px #000000;
	z-index: 1;
}

.social-icon {
	max-height: 80px;
	cursor: pointer;
}

.width-100-percent {
	width: 100%;
}

/*
	Home Page
*/

.infographic {
	background-image: url('../img/infographic.png');
	background-position: center;
	background-size: cover;
}

/*
	Nav Bar
*/

.logo {
	height: 50px;
}

.navbar {
	margin-bottom: 0;
	border: none;
}

/*
	Recommendations
*/

.other-recommendation {
    border: 1px solid rgb(224,148,143);
    background-color: rgb(99,20,1);
    color: white;
    opacity: .5;
    border-radius: 10px;
}

.other-recommendation:hover {
    opacity: 1.0;
}

.result {
	font-style: italic;
}

.wine-img {
	width: 20%;
	margin-left: 40%;
}

/*
	Quiz
*/

.red-wine {
	color: rgb(99,20,1);
}

.white-wine {
	color: rgb(206,122,83);
}

/*
	Colors
*/


.dark-red {
	background-color: rgb(99,20,1);
}

.light-pink {
	background-color: rgb(255,179,174);
}

.pink {
	background-color: rgb(224,148,143);
}

.red {
	background-color: rgb(122,31,0);
}

.yellow {
	background-color: rgb(206,122,83);
}

.black-text {
	color: black;
}

.brown-text {
	color: brown;
}

.green-text {
	color: green;
}

.pink-text {
	color: rgb(224,148,143);
}

.yellow-text {
	color: rgb(206,122,83);
}
