<div>
	<div class="row">
		<div class="progress">
	  		<div class="progress-bar yellow" role="progressbar" aria-valuenow="0" aria-valuemin="{{progressValues[currentQuestion - 1]}}" aria-valuemax="100" style="width:{{progressValues[currentQuestion - 1]}}%;">
	    	{{progressValues[currentQuestion - 1]}}%
	 		</div>
		</div>
	</div>

	<div class="row">
		<nav class="col-md-6 col-md-offset-3">
		  <ul class="pager">
		    <li class="pull-left" ng-if="currentQuestion > 1" ng-click="pagerClicked(-1)"><a><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Previous</a></li>
		    <li class="pull-right" ng-if="currentQuestion != 11" ng-click="pagerClicked(1)"><a>Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		    <li class="pull-right" ng-if="currentQuestion == 11" ng-click="submitQuiz()"><a>Proceed to results<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		  </ul>
		</nav>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 transparent-white round-corners">

			<div class="col-md-12" ng-if="currentQuestion == 1">
				<h2>Do you prefer red or white wine?</h2>
				<form>
					<div ng-class="formData.hasColorPreference.value === 'false' ? 'disabled' : ''">
						<div>
							Red
						</div>
						<div range-slider floor="0" ceiling="10" highlight="left" ng-model="formData.colorPreference.red.value"></div>
						<div class="col-md-12 no-padding">
							<div class="col-md-4 col-sm-4 no-padding slider-subtitle">No, thanks</div>
							<div class="col-md-4 col-sm-4 text-center no-padding slider-subtitle">Sure</div>
							<div class="col-md-4 col-sm-4 no-padding text-right slider-subtitle">Please!</div>
						</div>
						<div class="margin-top-40">
							White
						</div>
						<div range-slider floor="0" ceiling="10" highlight="left" ng-model="formData.colorPreference.white.value"></div>
						<div class="col-md-12 no-padding">
							<div class="col-md-4 col-sm-4 no-padding slider-subtitle">No, thanks</div>
							<div class="col-md-4 col-sm-4 text-center no-padding slider-subtitle">Sure</div>
							<div class="col-md-4 col-sm-4 no-padding text-right slider-subtitle">Please!</div>
						</div>
					</div>
					<div class="margin-top-40 checkbox" ng-class="formData.hasColorPreference.value === 'false' ? 'active' : ''">
					  <label><input type="checkbox" name="hasColorPreference" ng-model="formData.hasColorPreference.value" ng-true-value="'false'" ng-false-value="'true'">No preference</label>
					</div>
				 </form>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 2">
				<h2>What type of wines do you like?</h2>
				<h5>(You may pick more than one)</h5>
				<div ng-class="formData.hasWineTypePreference.value === 'false' ? 'disabled' : ''">
					<table class="width-100-percent">
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.chardonnay === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.chardonnay" ng-true-value="'true'" ng-false-value="'false'">Chardonnay</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.cabernetsauvignon === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.cabernetsauvignon" ng-true-value="'true'" ng-false-value="'false'">Cabernet Sauvignon</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.pinotblanc === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotblanc" ng-true-value="'true'" ng-false-value="'false'">Pinot Blanc</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.malbec === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.malbec" ng-true-value="'true'" ng-false-value="'false'">Malbec</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.pinotgrigio === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotgrigio" ng-true-value="'true'" ng-false-value="'false'">Pinot Grigio</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.merlot === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.merlot" ng-true-value="'true'" ng-false-value="'false'">Merlot</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.reisling === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.reisling" ng-true-value="'true'" ng-false-value="'false'">Reisling</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.pinotnoir === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotnoir" ng-true-value="'true'" ng-false-value="'false'">Pinot Noir</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.sauvignonblanc === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.sauvignonblanc" ng-true-value="'true'" ng-false-value="'false'">Sauvignon Blanc</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.zinfandel === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.zinfandel" ng-true-value="'true'" ng-false-value="'false'">Zinfandel</label></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="checkbox" ng-class="formData.hasWineTypePreference.value === 'false' ? 'active' : ''">
				  <label><input type="checkbox" name="hasWineTypePreference" ng-model="formData.hasWineTypePreference.value" ng-true-value="'false'" ng-false-value="'true'">No preference</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 3">
				<h2>Is this for a meal?</h2>
				<div class="col-md-6">
				  	<label class="clickable">
				  		<input type="radio" ng-model="formData.isForMeal.value" ng-value="'true'" value="'true'" name="forMeal">
				  			<span class="glyphicon glyphicon-thumbs-up glyphicon-large" ng-class="formData.isForMeal.value === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<input type="radio" ng-model="formData.isForMeal.value" ng-value="'false'" value="'false'" name="forMeal">
				  			<span class="glyphicon glyphicon-thumbs-down glyphicon-large" ng-class="formData.isForMeal.value === 'false' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 4">
				<h2>What kind of ice cream do you like?</h2>
				<h5>(You may pick more than one)</h5>

				<div class="col-md-4 brown-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.chocolate === 'true' ? 'active' : ''" src="../../img/chocolate.png">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.iceCreamPreference.chocolate" ng-true-value="'true'" ng-false-value="'false'"><p>Chocolate</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.chocolate === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4 brown-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.vanilla === 'true' ? 'active' : ''" src="../../img/vanilla.png">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.iceCreamPreference.vanilla" ng-true-value="'true'" ng-false-value="'false'"><p>Vanilla</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.vanilla === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4 brown-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.strawberry === 'true' ? 'active' : ''" src="../../img/strawberry.png">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.iceCreamPreference.strawberry" ng-true-value="'true'" ng-false-value="'false'"><p>Strawberry</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.strawberry === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 5">
				<h2>How much do you sweeten your tea?</h2>
				<div range-slider floor="0" ceiling="10" highlight="left" ng-model="formData.sweetenPreference.value"></div>
				<div class="col-md-12 no-padding">
					<div class="col-md-4 col-sm-4 no-padding slider-subtitle">Never</div>
					<div class="col-md-4 col-sm-4 text-center no-padding slider-subtitle">A little</div>
					<div class="col-md-4 col-sm-4 no-padding text-right slider-subtitle">Some tea with my sugar</div>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 6">
				<h2>What kind of smells do you like?</h2>
				<h5>(You may pick more than one)</h5>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.fire === 'true' ? 'active' : ''"src="../../img/fire.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.smells.fire" ng-true-value="'true'" ng-false-value="'false'"><p>Fire</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.fire === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.flowers === 'true' ? 'active' : ''"src="../../img/flowers.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.smells.flowers" ng-true-value="'true'" ng-false-value="'false'"><p>Flowers</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.flowers === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.beach === 'true' ? 'active' : ''"src="../../img/beach.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.smells.beach" ng-true-value="'true'" ng-false-value="'false'"><p>Beaches</p>
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.beach === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 7">
				<h2>What kind of meal?</h2>
				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.mealType.value === 'dinner' ? 'active' : ''"src="../../img/dinner.jpg">
				  		<input type="radio" ng-model="formData.mealType.value" ng-value="'dinner'" value="'dinner'" name="mealType">Dinner
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.mealType.value === 'dinner' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.mealType.value === 'dessert' ? 'active' : ''" src="../../img/dessert.jpg">
				  		<input type="radio" ng-model="formData.mealType.value" ng-value="'dessert'" value="'dessert'" name="mealType">Dessert
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.mealType.value === 'dessert' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.mealType.value === 'cheese' ? 'active' : ''" src="../../img/cheese.jpg">
				  		<input type="radio" ng-model="formData.mealType.value" ng-value="'cheese'" value="'cheese'" name="mealType">Cheese
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.mealType.value === 'cheese' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 8">
				<h2>What kind of dinner?</h2>
				<h5>(You may pick more than one)</h5>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.chicken === 'true' ? 'active' : ''"src="../../img/chicken.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dinnerType.chicken" ng-true-value="'true'" ng-false-value="'false'">Chicken
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.chicken === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.fish === 'true' ? 'active' : ''"src="../../img/fish.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dinnerType.fish" ng-true-value="'true'" ng-false-value="'false'">Fish
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.fish === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.beef === 'true' ? 'active' : ''"src="../../img/beef.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dinnerType.beef" ng-true-value="'true'" ng-false-value="'false'">Beef
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.beef === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.vegetables === 'true' ? 'active' : ''"src="../../img/vegetables.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dinnerType.vegetables" ng-true-value="'true'" ng-false-value="'false'">Vegetables
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.vegetables === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.pasta === 'true' ? 'active' : ''"src="../../img/pasta.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dinnerType.pasta" ng-true-value="'true'" ng-false-value="'false'">Pasta
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.pasta === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 9">
				<h2>What kind of cheese?</h2>
				<h5>(You may pick more than one)</h5>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.cheeseType.bloomy === 'true' ? 'active' : ''"src="../../img/brie.jpg"-->
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.cheeseType.bloomy" ng-true-value="'true'" ng-false-value="'false'">Bloomy (creamy cheese, like Brie)
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.cheeseType.bloomy === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.cheeseType.hard === 'true' ? 'active' : ''"src="../../img/cheddar.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.cheeseType.hard" ng-true-value="'true'" ng-false-value="'false'">Hard (Cheddar, Parmesagn, Gouda)
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.cheeseType.hard === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.cheeseType.blue === 'true' ? 'active' : ''"src="../../img/gorgonzola.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.cheeseType.blue" ng-true-value="'true'" ng-false-value="'false'">Blue (like Gorgonzola)
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.cheeseType.blue === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.cheeseType.fresh === 'true' ? 'active' : ''"src="../../img/ricotta.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.cheeseType.fresh" ng-true-value="'true'" ng-false-value="'false'">Fresh (Ricotta, Mozzarella, Goat, Feta)
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.cheeseType.fresh === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 10">
				<h2>What kind of dessert?</h2>
				<h5>(You may pick more than one)</h5>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dessertType.cake === 'true' ? 'active' : ''"src="../../img/cake.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dessertType.cake" ng-true-value="'true'" ng-false-value="'false'">Cake
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dessertType.cake === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dessertType.fruit === 'true' ? 'active' : ''"src="../../img/fruit.jpg">
				  		<input class="hidden-checkbox" type="checkbox" ng-model="formData.dessertType.fruit" ng-true-value="'true'" ng-false-value="'false'">Fruit
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dessertType.fruit === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 11">
				<h2>What is your price range for a bottle?</h2>
				<div range-slider floor="5" ceiling="40" dragstop="true" ng-model-low="formData.priceRange.low" ng-model-high="formData.priceRange.high"></div>
				<div class="col-md-12 no-padding">
					<div class="col-md-4 col-sm-4 no-padding slider-subtitle">$5</div>
					<div class="col-md-4 col-sm-4 text-center no-padding slider-subtitle">$22</div>
					<div class="col-md-4 col-sm-4 no-padding text-right slider-subtitle">$40+</div>
				</div>
				<p>Current: ${{formData.priceRange.low}} - ${{formData.priceRange.high}}</p>
			</div>
		</div>
	</div>
</div>
