<div>
	<div class="row">
		<div class="progress">
	  		<div class="progress-bar yellow" role="progressbar" aria-valuenow="0" aria-valuemin="{{progressValues[currentQuestion]}}" aria-valuemax="100" style="width:{{progressValues[currentQuestion]}}%;">
	    	{{progressValues[currentQuestion]}}%
	 		</div>
		</div>
	</div>

	<div class="row">
		<nav class="col-md-6 col-md-offset-3">
		  <ul class="pager">
		    <li class="pull-left" ng-if="currentQuestion > 0" ng-click="pagerClicked(-1)"><a><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Previous</a></li>
		    <li class="pull-right" ng-if="currentQuestion < totalQuestions - 2 && currentQuestion != totalQuestions - 4" ng-click="pagerClicked(1)"><a>Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		    <li class="pull-right" ng-if="currentQuestion == totalQuestions - 1 || currentQuestion == totalQuestions - 2 || currentQuestion == totalQuestions - 4" ng-click="submitQuiz()"><a>Proceed to results<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
		  </ul>
		</nav>
	</div>

	<div class="row">
		<div class="col-md-4 col-md-offset-4 light-pink round-corners">

			<div class="col-md-12" ng-if="currentQuestion == 0">
				<h2>What is your price range?</h2>
				<div range-slider floor="5" ceiling="200" dragstop="true" ng-model-low="formData.priceRange.low" ng-model-high="formData.priceRange.high">
				</div>
				<p>Current: ${{formData.priceRange.low}} - ${{formData.priceRange.high}}</p>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 1">
				<h2>Do you prefer red or white wine?</h2>
				<form>
					<div ng-class="formData.hasColorPreference.value === 'false' ? 'disabled' : ''">
						<div>
							Red
						</div>
						<div range-slider floor="0" ceiling="10" dragstop="true" ng-model-low="formData.colorPreference.red.low" ng-model-high="formData.colorPreference.red.high">
						</div>
						<div>
							White
						</div>
						<div range-slider floor="0" ceiling="10" dragstop="true" ng-model-low="formData.colorPreference.white.low" ng-model-high="formData.colorPreference.white.high">
						</div>
					</div>
					<div class="checkbox" ng-class="formData.hasColorPreference.value === 'false' ? 'active' : ''">
					  <label><input type="checkbox" name="hasColorPreference" ng-model="formData.hasColorPreference.value" ng-true-value="'false'" ng-false-value="'true'">No preference</label>
					</div>
				 </form>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 2">
				<h2>What type of wines do you like?</h2>
				<div ng-class="formData.hasWineTypePreference.value === 'false' ? 'disabled' : ''">
					<table class="width-100-percent">
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.chardonnay === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.chardonnay" ng-true-value="'true'" ng-false-value="'false'">Chardonnay</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.cabernetsauvignon === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.cabernetsauvignon" ng-true-value="'true'" ng-false-value="'false'">Cabernet Sauvignon</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.pinotblanc === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotblanc" ng-true-value="'true'" ng-false-value="'false'">Pinot Blanc</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.malbec === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.malbec" ng-true-value="'true'" ng-false-value="'false'">Malbec</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.pinotgrigio === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotgrigio" ng-true-value="'true'" ng-false-value="'false'">Pinot Grigio</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.merlot === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.merlot" ng-true-value="'true'" ng-false-value="'false'">Merlot</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.reisling === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.reisling" ng-true-value="'true'" ng-false-value="'false'">Reisling</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.pinotnoir === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.pinotnoir" ng-true-value="'true'" ng-false-value="'false'">Pinot Noir</label></div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="checkbox white-wine" ng-class="formData.wineTypePreference.sauvignonblanc === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.sauvignonblanc" ng-true-value="'true'" ng-false-value="'false'">Sauvignon Blanc</label></div>
							</td>
							<td>
								<div class="checkbox red-wine" ng-class="formData.wineTypePreference.zinfandel === 'true' ? 'active' : ''"><label><input type="checkbox" ng-model="formData.wineTypePreference.zinfandel" ng-true-value="'true'" ng-false-value="'false'">Zinfandel</label></div>
							</td>
						</tr>
					</table>
				</div>
				<div class="checkbox" ng-class="formData.hasWineTypePreference.value === 'false' ? 'active' : ''">
				  <label><input type="checkbox" name="hasWineTypePreference" ng-model="formData.hasWineTypePreference.value" ng-true-value="'false'" ng-false-value="'true'">No preference</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 3">
				<h2>Is this for a meal?</h2>
				<div class="col-md-6">
				  	<label class="clickable">
				  		<input type="radio" ng-model="formData.isForMeal.value" ng-value="'true'" value="'true'" name="forMeal">
				  			<span class="glyphicon glyphicon-thumbs-up glyphicon-large" ng-class="formData.isForMeal.value === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<input type="radio" ng-model="formData.isForMeal.value" ng-value="'false'" value="'false'" name="forMeal">
				  			<span class="glyphicon glyphicon-thumbs-down glyphicon-large" ng-class="formData.isForMeal.value === 'false' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 4">
				<h2>What kind of ice cream do you like?</h2>

				<div class="col-md-4 brown-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.chocolate === 'true' ? 'active' : ''" src="../../img/chocolate.png">
				  		<input type="checkbox" ng-model="formData.iceCreamPreference.chocolate" ng-true-value="'true'" ng-false-value="'false'">Chocolate
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.chocolate === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				  	
				</div>

				<div class="col-md-4 yellow-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.vanilla === 'true' ? 'active' : ''" src="../../img/vanilla.png">
				  		<input type="checkbox" ng-model="formData.iceCreamPreference.vanilla" ng-true-value="'true'" ng-false-value="'false'">Vanilla
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.vanilla === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4 pink-text">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.iceCreamPreference.strawberry === 'true' ? 'active' : ''" src="../../img/strawberry.png">
				  		<input type="checkbox" ng-model="formData.iceCreamPreference.strawberry" ng-true-value="'true'" ng-false-value="'false'">Strawberry
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.iceCreamPreference.strawberry === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 5">
				<h2>How much do you sweeten your tea?</h2>
				<div range-slider floor="0" ceiling="10" dragstop="true" ng-model-low="formData.sweetenPreference.low" ng-model-high="formData.sweetenPreference.high">
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 6">
				<h2>What kind of smells do you like?</h2>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.fire === 'true' ? 'active' : ''"src="../../img/fire.jpg">
				  		<input type="checkbox" ng-model="formData.smells.fire" ng-true-value="'true'" ng-false-value="'false'">Fire
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.fire === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.flowers === 'true' ? 'active' : ''"src="../../img/flowers.jpg">
				  		<input type="checkbox" ng-model="formData.smells.flowers" ng-true-value="'true'" ng-false-value="'false'">Flowers
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.flowers === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.smells.beach === 'true' ? 'active' : ''"src="../../img/beach.jpg">
				  		<input type="checkbox" ng-model="formData.smells.beach" ng-true-value="'true'" ng-false-value="'false'">Beach
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.smells.beach === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 7">
				<h2>What kind of meal?</h2>
				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.mealType.value === 'dinner' ? 'active' : ''"src="../../img/dinner.jpg">
				  		<input type="radio" ng-model="formData.mealType.value" ng-value="'dinner'" value="'dinner'" name="mealType">Dinner
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.mealType.value === 'dinner' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.mealType.value === 'dessert' ? 'active' : ''" src="../../img/dessert.jpg">
				  		<input type="radio" ng-model="formData.mealType.value" ng-value="'dessert'" value="'dessert'" name="mealType">Dessert
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.mealType.value === 'dessert' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>
			</div>

			<div class="col-md-12" ng-if="currentQuestion == 8">
				<h2>What kind of dinner?</h2>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.chicken === 'true' ? 'active' : ''"src="../../img/chicken.jpg">
				  		<input type="checkbox" ng-model="formData.dinnerType.chicken" ng-true-value="'true'" ng-false-value="'false'">Chicken
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.chicken === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.fish === 'true' ? 'active' : ''"src="../../img/fish.jpg">
				  		<input type="checkbox" ng-model="formData.dinnerType.fish" ng-true-value="'true'" ng-false-value="'false'">Fish
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.fish === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-4">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dinnerType.vegetables === 'true' ? 'active' : ''"src="../../img/vegetables.jpg">
				  		<input type="checkbox" ng-model="formData.dinnerType.vegetables" ng-true-value="'true'" ng-false-value="'false'">Vegetables
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dinnerType.vegetables === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>

			<div class="col-md-12" ng-if="currentQuestion == 9">
				<h2>What kind of dessert?</h2>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dessertType.cake === 'true' ? 'active' : ''"src="../../img/cake.jpg">
				  		<input type="checkbox" ng-model="formData.dessertType.cake" ng-true-value="'true'" ng-false-value="'false'">Cake
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dessertType.cake === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

				<div class="col-md-6">
				  	<label class="clickable">
				  		<img class="width-100-percent" ng-class="formData.dessertType.fruit === 'true' ? 'active' : ''"src="../../img/fruit.jpg">
				  		<input type="checkbox" ng-model="formData.dessertType.fruit" ng-true-value="'true'" ng-false-value="'false'">Fruit
				  		<span class="glyphicon glyphicon-ok option-check" ng-class="formData.dessertType.fruit === 'true' ? 'active' : ''" aria-hidden="true"></span>
				  	</label>
				</div>

			</div>
		</div>
	</div>
</div>