<img class="banner" src="../../img/logoname.png">

<div ng-if="isLoggedIn == true;" class="other-recommendation col-md-2 col-md-offset-5 get-started-button button clickable" ng-click="routeTo('/quiz')">Get Started<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
</div>

<div ng-if="isLoggedIn == false;" class="other-recommendation col-md-2 col-md-offset-5 get-started-button button clickable" data-toggle="modal" data-target="#infographic">Get Started<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></div>

<div class="col-md-12 gradient-yellow-to-white margin-top-40">
	<div class="col-md-10 col-md-offset-1">
		<h3 class="col-md-10 col-md-offset-1"><b>Half-Corked</b> was created by a small team from Gainesville, Florida, consisting of Sarah Klein, Cameron Kamin and Sahar Hussain. This is their story.</h3> 

		<div class="col-md-12 margin-top-40">
			<p>On a chilly spring night, Sahar asked Cameron to pour some wine. Cameron had just finished whipping up his famous wild pea salmon and turnips. Cameron placed the salmon in the oven and left to the local grocery store. After being overwhelmed by the large selection of wines - hundreds of bottles - Cameron panicked. He knew nothing about wine. He saw a bottle with a cool label and grabbed it, returned home, and went to uncork the wine.</p>

			<p>When he returned and began to open the bottle, Sarah screeched at Cameron to stop - he placed the half-opened bottle down and questioned what was wrong. She replied instantly, <i>“that is Pinot Noir!”</i> He was baffled. <i>“Pin-no no-huh?”</i> He replied. She explained to him the differences between different kinds of wine and emphasized why one would never drink red wine with fish. </p>

			<p>The timer went off and the salmon was ready to be served.</p>

			<p>After devouring the delicious dinner, Sarah returned to her heckling. He had no idea what he had done wrong. This set off bells to Sahar - she interrupted Sarah’s heckling and told Sarah, <i>“forget it! He doesn’t know! It’s a dead subject. Instead, let’s create something so that he can’t use that excuse anymore - so that no one can use that excuse!”</i> </p>

			<p>Sarah paused and immediately agreed.</p>

			<p>And thus was the beginning of <b>Half-Corked</b>.</p>

		</div>
	</div>
</div>

<div ng-include src="'pages/site-components/modals/getstarted.html'"></div>
