<nav class="navbar navbar-default white black-text">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="clickable" ng-click="routeTo('/home')">Half-Corked<img class="logo" src="../../img/logo.png"></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="clickable" ng-click="routeTo('/learn')">Learn About Wine</li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn == false;">
        <li class="clickable" ng-click="routeTo('/login')">Log In</li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn == true;">
        <li class="clickable" ng-click="routeTo('/taste')">View/Edit Taste Profile</li>
        <li class="clickable" ng-click="logOut()">Log Out</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
